/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.sidebar-zip,
.another-city {
    margin-top: 15px !important;
}

.sidebar-zip a {
    color: #54ae68 !important;
}

.sidebar-zip a:hover,
.another-city a:hover {
    text-decoration: underline;
}

.dashboard-owner {
    background-color: #54ae68;
    color: #fff;
}

/* Users Dashboard */
.users-dashboard-wrapper,
.users-dashboard-error,
.vtp-wrapper {
    font-family: 'Lato';
    font-size: 14px;
}

.user-points {
    text-align: center;
    font-size: 22px;
}

.user-points .points-number,
.points-detailed .points-number,
.users-ratings .points-number {
    color: #54ae68;
    font-weight: 700;
}

.users-ratings th,
.users-ratings td {
    text-align: center;
}

.referral-link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.referral-link-wrapper h4 {
    flex-basis: 100%;
    text-align: center;
}

#user-referral-link {
    outline: none;
    width: 300px;
    text-align: center;
}

.users-dashboard .entry-header,
.voucher-tracking-page .entry-header {
    text-align: center;
}

.registration #content article {
    margin-left: auto;
    margin-right: auto;
}

.registration-form-wrapper {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.registration-form-wrapper .registration-form {
    text-align: left;
}

.registration-form-wrapper .wp-social-login-connect-with {
    text-align: center;
}

.registration-form-wrapper .wp-social-login-provider-list {
    text-align: center !important;
}

.registration-form-wrapper .wp-social-login-provider-list a {
    padding: 12px 20px !important;
    display: inline-block !important;
    width: auto !important;
}

.registration-form-wrapper .wsl-buttons,
.registration-form-wrapper .registration-form {
    flex-basis: 250px;
}

.registration-form-wrapper .registration-form input {
    width: 200px;
}

.registration-form-wrapper .reg-errors {
    margin-bottom: 20px;
}

.registration-form-wrapper .registration-form .form-submit {
    background: #54ae68;
    color: #fff;
    border: 0;
    text-shadow: none;
    margin: 30px 0 0;
    padding: 0;
    text-transform: uppercase;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
}

.registration-form-wrapper .registration-form .form-submit:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.registration-form-wrapper .wp-social-login-connect-with {
    margin: 5px 0 20px !important;
}

.registration-form-wrapper .wp-social-login-provider-list {
    margin-bottom: 20px !important;
}

@media only screen and (max-width : 540px) {
    .registration .entry-content {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .registration-form-wrapper .registration-form {
        text-align: center;
    }
}

.next-drawing-time {
    text-align: center;
}

.wp-social-login-provider-list a::before,
.fa {
    font-family: FontAwesome !important;
}

#winners-list {
    margin-top: 50px;
}

#winners-list li {
    display: none;
}

.md-widget-button {
    outline: 0;
    border: 0;
}

.manual-drawings-widget .buddyboss-select-inner:after {
    bottom: 0;
    height: 32px;
}

#pick-winners-button,
#send-notifications-button {
    display: none;
}

.drawing-winners {
    margin-bottom: 50px;
}

.winner {
    margin-bottom: 30px;
}

.winner-header {
    display: flex;
    height: 32px;
    margin-bottom: 10px;
}

.winner-header button {
    margin-left: 40px;
}

/*.prize-state,
.prize-retail-price {
    font-weight: bold;
}*/

.prize-received {
    color: #54ae68;
}

.prize-waiting {
    color: #3285f7;
    font-weight: bold;
}

/* Voucher Tracking Page */
.vtp-wrapper {
    font-family: 'Lato';
    font-size: 14px;
}

.vtp-wrapper p {
    margin-bottom: 0;
}

.vouchers-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.voucher-wrapper {
    border: dashed 1px #54ae68;
    padding: 5px;
    margin: 5px;
    min-width: 300px;
    text-align: center;
}

.voucher-wrapper h4 {
    margin: 10px;
}

.voucher-wrapper p {
    max-width: 250px;
    margin: auto;
}