/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.spaced {
    margin-right: 7px !important;
}

.info {
    color: dodgerblue;
}

.error {
    color: red;
}

.success {
    color: green;
}

.show_if_prize {
    display: none;
}

.drawings_count_label {
    text-align: center;
    margin-top: 9px;
    padding-top: 5px;
    display: block;
}

input.mc,
.mc-message {
    width: 500px;
}

.mc-message {
    height: 300px;
}

.broadcast-handle-message {
    margin: 5px 0 15px;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    padding: 1px 12px;
}

.success-bh {
    border-left-color: #46b450;
}

.ii-bh,
.error-bh {
    border-left-color: #ce4439;
}

#bws_sweepstakes_external_terms {
    width: 100%;
    min-height: 300px;
}

.external-terms-label {
    text-align: center;
}

#taxonomy-city {
    width: 10%;
}

.taxonomy-city {
    color: #999 !important;
}